.calendar-date {
  width: 90%;
  height: 100%;
}
table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* 셀 크기 고정 */
}
th {
  padding: 15px 0;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #dddddd;
  height: 40px; /* 요일 칸 높이 고정 */
}
td {
  text-align: left;
  padding: 5px;
  border: 1px solid #dddddd;
  height: calc((100% - 40px) / 6); /* 높이 6줄 나눔 */
  vertical-align: top;
  padding: 10px;
}
tr {
  color: #555;
  font-weight: bold;
  border: 1px solid #dddddd;
  position: relative; /* 자식 요소의 절대 위치를 위한 기준 */
}
.sunday {
  color: red;
}

.saturday {
  color: blue;
}
.prev-month,
.next-month {
  color: #cccccc;
}

/* today 스타일 적용하는데 height 길이 늘리면 셀이 커집니다
   css 고수님들 도와주세요..
*/
.today {
  background-color: #7fe5a1;
  border-radius: 0px 30px 30px 30px;
  color: white;
  font-weight: bold;
  width: 42px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 0 5px;
}
