@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gowun+Dodum&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gowun+Dodum&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */


/* 마진 패딩 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 타이포 설정 */
body, h1, h2, h3, h4, h5, h6, p, a, span, input, select, button, time, strong {
    font-family: "Noto Sans Kr",sans-serif;
    font-size: 1rem;
    color: #222;
    line-height: 1.2;
    letter-spacing: -2;
}

/* 리스트 기호 없애기 */
ol, ul, li {
    list-style: none;
}

/*링크요소 초기화 */
a {
    color: #222;
    text-decoration: none;
}

/* 박스 계산법 border-box로 바꾸기 */
*::after,
*::before {
    box-sizing: border-box;
}

/* 컨텐츠 화면에서 숨기기 */
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

button {
    cursor: pointer;
    transition: all 0.1s linear;
    border: none;
    background-color: transparent;
}
