:root {
    --main-color: #43E2BD;
}
/*----------------------메인페이지 영역----------------------*/
main{
    display: flex;
    width: 100%;
    height: fit-content;
}

/*----------------------왼쪽 사이드바----------------------*/
main .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 333px;
    height: 1080px;
    padding: 56px 28px;
    background-color: #43E2BD;
}
/*-----------사이드바상단(로고, 날씨)-----------*/
.sidebar .sidebar-top{
    height: 199px;
    margin-bottom: 52px;
}
.sidebar-top .sidebar-logo{
    width: 218px;
    height: 32px;
    margin: 0 auto 48px;
}
.sidebar-top .sidebar-logo a{
    width: 100%;
}
.sidebar-top .sidebar-logo a img{
    width: 14em;
}
.sidebar-top .sidebar-weather{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 124px;
    padding: 26px 25px;
    background-color: rgb(255, 255, 255, 50%);
    opacity: 100%;
    border-radius: 20px;
}
.sidebar-weather .sidebar-weather-info{
    width: fit-content;
}
.sidebar-weather .sidebar-weather-info .sidebar-weather-text{
    font-family:"Inter";
    font-size:16px;
    color: #3FB499;
}
.sidebar-weather .sidebar-weather-info .sidebar-weather-num{
    font-family:"Inter";
    font-size: 50px;
    font-weight: bold;
    color: #3FB499;
}
.sidebar-weather .sidebar-weather-icon img{
    width: 116px;
    height: 111px;
}
/*-----------사이드바하단(간단한일정)-----------*/
.sidebar .sidebar-bottom{
    height: 720px
}
.sidebar-bottom .sidebar-scadule{
    width: 100%;
    height: 684px;
    padding: 38px 20px;
    background-color: #fff;
    border-radius: 1.2em;
}
.sidebar-scadule .sidebar-today{
    height: 34px;
}
.sidebar-scadule .sidebar-today span{
    font-family: "Noto Sans Kr";
    font-size: 20px;
    font-weight: bold;
    line-height: 15px;
}
.sidebar-scadule .sidebar-today::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f4f4f4;
    margin-top: 17px;
}
.sidebar-scadule .sidebar-scadule-list{
    margin-top: 19px;
}
.sidebar-scadule .sidebar-scadule-list li{
    margin-bottom: 12px;
}
.sidebar-scadule-list li .sidebar-list-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px 16px;
}
.sidebar-list-box .sidebar-list-cont img{
    margin-right: 8px;
}
.sidebar-list-box .sidebar-list-cont span{
    display: inline-block;
    font-family: "Noto sans kr";
    font-size: 14px;
}
.sidebar-list-box .sidebar-list-close{
    display: none;
}
.sidebar-scadule-list li:hover .sidebar-list-box{
    background-color: #f6f6f6;
}
.sidebar-scadule-list li:hover .sidebar-list-box .sidebar-list-close{
    display: block;
}
.sidebar-scadule .sidebar-scadule-add{
    display: flex;
    width: 100%;
    height: 38px;
    padding: 10px 14px;
}
.sidebar-scadule .sidebar-scadule-add img{
    margin-right: 6px;
}
.sidebar-scadule .sidebar-scadule-add span{
    font-size: 12px;
    color: #AAAAAA;
    line-height: 12px;
}

/*----------------------오른쪽 달력----------------------*/
main .calender{
    width: 100%;
    margin: auto;
}
.calender .calender-box{
    width: 1476px;
    height: 967px;
    margin: auto;
    border: 2px solid #f0f0f0;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 20%);
}
/*-----------오른쪽달력상단(날짜확인 및 설정)-----------*/
.calender-box .calender-box-head{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 41px 77px;
}
.calender-box-head .calender-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 190px;
}
.calender-info .calender-month{
    font-family: "Inter";
    font-size: 78px;
    font-weight: bold;
    line-height: 78px;
}
.calender-info .calender-year{
    font-family: "Inter";
    font-size: 32px;
    line-height: 48px;
}
.calender-box-head .calender-select{
    display: flex;
    justify-content: space-between;
    width: 294px;
    z-index: 888;
}
.calender-box-head .calender-select p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    margin-bottom: 16px;
}
.calender-box-head .calender-select p span{
    font-size: 16px;
    letter-spacing: -2px;
}
.calender-select .calender-select-month{
    width: 140px;
    height: 42px;
    border: 2px solid #dddddd;
    border-radius: 10px;
    padding: 9px 0;
}
.calender-select-month .calender-select-month-box{
    width: 140px;
    height: 200px;
    border: 2px solid #dddddd;
    border-radius: 10px;
    padding: 24px 28px;
    overflow: hidden;
}
.calender-select-month .calender-select-month-list{
    text-align: center;
    width: 80px;
    height: 146px;
    overflow: scroll;
    scrollbar-width: none;
}
.calender-select-month .calender-select-month-list li{
    margin-bottom: 17px;
}
.calender-select .calender-select-year{
    width: 140px;
    height: 42px;
    border: 2px solid #dddddd;
    border-radius: 10px;
    padding: 9px 0;
}
.calender-select-year .calender-select-year-box{
    width: 140px;
    height: 200px;
    border: 2px solid #dddddd;
    border-radius: 10px;
    padding: 24px 28px;
    overflow: hidden;
}
.calender-select-year .calender-select-year-list{
    text-align: center;
    width: 80px;
    height: 146px;
    overflow: scroll;
    scrollbar-width: none;
}
.calender-select-year .calender-select-year-list li{
    margin-bottom: 17px;
}
/*------스크롤바 숨김처리------*/
.calender-select-year-list::-webkit-scrollbar{
    display: none;
}
.calender-select-month-list::-webkit-scrollbar{
    display: none;
}
/*-----------오른쪽달력하단(달력표 및 이동화살표)-----------*/
.calender-box .calender-box-cont{
    display: flex;
    align-items: center;
    width: 100%;
    height: 772px;
    margin: auto;
    padding: 0 30px;
}
.calender-box-cont .calender-arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 772px;
    z-index: 777;
}
.calender-arrow .arrow-left{
    cursor: pointer;
}
.calender-arrow .arrow-right{
    cursor: pointer;
}